<!doctype html>
<body>
    <style>
        pre, tr, td {
            padding: 0px 2px;
            margin: 0px;
        }
    </style>
    <table class="table table-hover table-xs">
    <tr>
    <th>RelativeLayout</th>
    <th>Constraint Layout</th>
    </tr>
    </tr>
        <tr><td> Centering </td><td></td></tr>
    <tr>
    <tr>
    <td><pre>
    android:layout_centerInParent="true"
    </pre></td>
    <td><pre>
    app:layout_constraintBottom_toBottomOf="parent"
    app:layout_constraintLeft_toLeftOf="parent"
    app:layout_constraintStart_toStartOf="parent"
    app:layout_constraintRight_toRightOf="parent"
    app:layout_constraintEnd_toEndOf="parent"
    app:layout_constraintTop_toTopOf="parent"
    </pre></td>
    </tr>
    <tr>
    <td><pre>
    android:layout_centerHorizontal="true"
    </pre></td>
    <td><pre>
    app:layout_constraintLeft_toLeftOf="parent"
    app:layout_constraintStart_toStartOf="parent"
    app:layout_constraintRight_toRightOf="parent"
    app:layout_constraintEnd_toEndOf="parent"
    </pre></td>
    </tr>
    <tr>
    <td><pre>
    android:layout_centerVertical="true"
    </pre></td>
    <td><pre>
    app:layout_constraintBottom_toBottomOf="parent"
    app:layout_constraintTop_totopOf="parent"
    </pre></td>
    </tr>
        <tr><td> Match Item Edge to Parent Edge </td><td></td></tr>
    <tr>
    <td><pre>android:layout_alignParentLeft="true"</pre></td>
    <td><pre>app:layout_constraintLeft_toLeftOf="parent"</pre></td>
    </tr>
    <tr>
    <td><pre>android:layout_alignParentStart="true"</pre></td>
    <td><pre>app:layout_constraintStart_toStartOf="parent"</pre></td>
    </tr>
    <tr>
    <td><pre>android:layout_alignParentRight="true"</pre></td>
    <td><pre>app:layout_constraintRight_toRightOf="parent"</pre></td>
    </tr>
    <tr>
    <td><pre>android:layout_alignParentEnd="true"</pre></td>
    <td><pre>app:layout_constraintEnd_toEndOf="parent"</pre></td>
    </tr>
    <tr>
    <td><pre>android:layout_alignParentTop="true"</pre></td>
    <td><pre>app:layout_constraintTop_toTopOf="parent"</pre></td>
    </tr>
    <tr>
    <td><pre>android:layout_alignParentBottom="true"</pre></td>
    <td><pre>app:layout_constraintBottom_toBottomOf="parent"</pre></td>
    </tr>
        <tr><td> Match Item Edge to Reference Item Edge </td><td></td></tr>
    <tr>
    <td><pre>android:layout_alignStart="@+id/view"</pre></td>
    <td><pre>app:layout_constraintStart_toStartOf="@+id/view"</pre></td>
    </tr>
    <tr>
    <td><pre>android:layout_alignLeft="@+id/view"</pre></td>
    <td><pre>app:layout_constraintLeft_toLeftOf="@+id/view"</pre></td>
    </tr>
    <tr>
    <td><pre>android:layout_alignEnd="@+id/view"</pre></td>
    <td><pre>app:layout_constraintEnd_toEndOf="@+id/view"</pre></td>
    </tr>
    <tr>
    <td><pre>android:layout_alignRight="@+id/view"</pre></td>
    <td><pre>app:layout_constrainRight_toRightOf="@+id/view"</pre></td>
    </tr>
    <tr>
    <td><pre>android:layout_alignTop="@+id/view"</pre></td>
    <td><pre>app:layout_constraintTop_toTopOf="@+id/view"</pre></td>
    </tr>
    <tr>
    <td><pre>android:layout_alignBaseline="@+id/view"</pre></td>
    <td><pre>app:layout_constraintBaseline_toBaselineOf="@+id/view"</pre></td>
    </tr>
    <tr>
    <td><pre>android:layout_alignBottom="@+id/view"</pre></td>
    <td><pre>app:layout_constraintBottom_toBottomOf="@+id/view"</pre></td>
    </tr>
    </tr>
        <tr><td> Align Item to Reference Item Side </td><td></td></tr>
    <tr>
    <tr>
    <td><pre>android:layout_toStartOf="@+id/view"</pre></td>
    <td><pre>app:layout_constraintEnd_toStartOf="@+id/view"</pre></td>
    </tr>
    <tr>
    <td><pre>android:layout_toLeftOf="@+id/view"</pre></td>
    <td><pre>app:layout_constraintRight_toLeftOf="@+id/view"</pre></td>
    </tr>
    <tr>
    <td><pre>android:layout_toEndOf="@+id/view"</pre></td>
    <td><pre>app:layout_constraintStart_toEndOf="@+id/view"</pre></td>
    </tr>
    <tr>
    <td><pre>android:layout_toRightOf="@+id/view"</pre></td>
    <td><pre>app:layout_constraintLeft_toRightOf="@+id/view"</pre></td>
    </tr>
    <tr>
    <td><pre>android:layout_above="@+id/view"</pre></td>
    <td><pre>app:layout_constraintBottom_toTopOf="@+id/view"</pre></td>
    </tr>
    <tr>
    <td><pre>android:layout_below="@+id/view"</pre></td>
    <td><pre>app:layout_constraintTop_toBottomOf="@+id/view"</pre></td>
    </tr>
    </table>
</body>