<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.atakmap.android.democamera.plugin"
    tools:ignore="GoogleAppIndexingWarning">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera2.full" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_camera"
        android:label="@string/app_name"
        android:description="@string/app_desc"
        android:extractNativeLibs="true"
        android:theme="@style/AppTheme" >
        <meta-data android:name="plugin-api" android:value="${atakApiVersion}"/>
        <meta-data android:name="app_desc" android:value="@string/app_desc"/>



    </application>

</manifest>
