<?xml version="1.0" encoding="utf-8"?>
<!-- if you change this file, make sure to tick the versionCode in AndroidManifest. -->
<plugin>

    <extension
        type="transapps.maps.plugin.lifecycle.Lifecycle"
        impl="com.toyon.insectclassifier.plugin.InsectClassifierLifecycle"
        singleton="true" />

    <extension
        type="transapps.maps.plugin.tool.ToolDescriptor"
        impl="com.toyon.insectclassifier.plugin.InsectClassifierTool"
        singleton="true" />

</plugin>
